@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');

*{
  
  font-family: 'Open Sans', sans-serif;
}
.container{
  margin-top: 8rem;
}

.blog {
  margin-top: 50px;
  max-width: 1440px;
  margin: auto;
}
.blog .boxItems {
  transition: 0.5s;
  width: 320px;
  margin: auto;
}
.blog .boxItems:hover {
  border: #c4180c2d 1px solid;
  transform: translateY(-12px);
}
.blog img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1px;
}

.blog .video video{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.blog .icon {
  margin-right: 10px;
  font-size: 20px;
}

.blog .tag {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}


.blog .date {
  display: flex;
  align-items: center;
}
.blog .date label {
  display: block;
  margin-right: 20px;
}

.title01{
  margin: 4rem 0rem;
}

.h1Card{
  font-size: 1.2rem;
  border-left: rgb(238, 238, 0) solid ;
  border-width: 6px;
  color: #000;
  text-align: left;
  margin-left: 2rem;
  padding:6px 0px 6px 4px;
}


.details .p01 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  width: 100%;
  font-weight: 800;
  color: #C4170C;
  margin:0;

}
 



.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


.details .p02{
  color: #000000;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  margin: 20px 0;
  font-size: 17px;
  line-height: 25px;
}
label {
  color: #000000;
  font-size: 15px;
  margin-left: 2px;
}

.boxItems {
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  padding: 20px;
  background: #fff;
}


.buttoncard {
  background-color: #2b2b2b;
  border: 1px solid;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: .6rem 1rem;
  margin: auto;
  font-size: 16px;
  transition: transform 0.8s ease, box-shadow 0.2s ease, background-color 0.5s ease;
}
.buttoncard:hover{
  background-color:#c4180cea; 
  transform: translateY(-7px);
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.692);
  
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.container {
  max-width: 95%;
  margin: auto;
}

.link {
  color: #000;
}

@media (max-width: 995px) {
  .container.grid3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsividade para 500px */
@media (max-width: 666px) {
  .container.grid3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Responsividade para 450px */
@media (max-width: 450px) {
  .container.grid3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .blog .boxItems {
    transition: 0.5s;
    width: 100%;
    margin: auto;
  }
}

/* Responsividade para 360px */
@media (max-width: 360px) {
  .container.grid3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
  }
}




